.main-left {
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-list {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

.search-list-element {
  display: flex;
  height: auto;
  padding: 10px;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #e9ecef;
  margin: 10px;
  cursor: pointer;
}

.current-position-search-btn {
  z-index: 99;
  position: fixed;
}

.search-header {
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 5px;
  flex-direction: column;
  box-sizing: border-box;
}

.kakao-color {
  background-color: #F2CB05;
}

.main-right {
  height: 100vh;
  width: 600px;
  box-sizing: border-box;
}

.map-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.search-container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
